html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  background-color: $background-color;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
