$background-color: #FFFFFF;
$border-image-color: #F2F2F7;
$border-search-color: rgba(0, 0, 0, 0.5);
$border-search-active-color: black;
$border-hover-color: rgb(108, 249, 150);


$text-color-black: black;
$text-color-informations: #8E8E93;
$text-color-info-title: #081F32;
$text-color-info-name: #6E798C;
$text-color-cards-name: rgba(0, 0, 0, 0.87);
$text-color-cards-species: rgba(0, 0, 0, 0.6);

$padding-container-mobile: 24px;
$padding-container-tablet: 35px;
$padding-container-desktop: 55px;